<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21895211387-stobi0hrrmcpu6213cjq3is7f0qc32hh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21895211387-stobi0hrrmcpu6213cjq3is7f0qc32hh</string>
	<key>API_KEY</key>
	<string>AIzaSyAgnh8yhCO0jO_GqCV8BbTGSVQ3U9ukM_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>21895211387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasoncardinale.Firebase-Signup-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>wifi-sharing-a0757</string>
	<key>STORAGE_BUCKET</key>
	<string>wifi-sharing-a0757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21895211387:ios:ae9b26a482ca34fb2bb5de</string>
	<key>DATABASE_URL</key>
	<string>https://wifi-sharing-a0757.firebaseio.com</string>
</dict>
</plist>